/* Définition de la police utilisée pour le site */
@font-face
{
	font-family: 'Raleway-Regular';
	src: url('Raleway-Regular.ttf');
}

/* utilisation de la police pour le site */
body
{
	font-family: Raleway-Regular;
	margin: auto;
	width: 95%;
}

/* Mise en page pour l'en-tête */
header
{
	display: flex;
	flex-direction: row;
	padding-top: 2%;
}
.logo, .navigation
{
	width: 100%
}
nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
strong a
{
	color: #0065FC;
}
a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}

/* Mise en page description du site */
h1
{
	font-weight: bold;
	font-size: 20px;
}
p
{
	color: black;
	font-family: Raleway-Regular;
}

/* Mise en place de la recherche */
i
{
	color: black;
	font-size: 1.5em;
}
.localisation
{
	width: 450px;
	display: flex;
}
form
{
	display: flex;
}

.position
{
	background-color: #F2F2F2;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 80px;
	text-align: center;
	padding-top: 15px;
}
.entree input
{
	background-color: white;
	border: 1px solid #F2F2F2;
	width: 210px;
	height: 57px;
	font-size: 1.5em;
	padding-left: 10px;

}
.recherche input
{
	background-color: #0065FC;
	border: 1px solid #0065FC;
	color: white;
	width: 160px;
	height: 60px;
	font-size: 1.5em;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.recherche input:hover
{
	color: black;
}