/* Définition de la police utilisée pour le site */
@font-face
{
	font-family: 'Raleway-Regular';
	src: url('Raleway-Regular.ttf');
}

/* utilisation de la police pour le site */
body
{
	font-family: Raleway-Regular;
	margin: auto;
	width: 95%;
	display: flex;
	flex-direction: column;
}

/* Mise en page pour l'en-tête */
header
{
	display: flex;
	flex-direction: row;
	padding-top: 2%;
}
.logo, .navigation
{
	width: 100%
}
nav ul
{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
}
strong a
{
	color: #0065FC;
}

a
{
	color: black;
	text-decoration: none;
}
a:hover
{
	color: #0065FC;
	border-top: 2px solid #0065FC;
	padding-top: 30px;
}
.logo a
{
	border: none;
}
/* Mise en page description du site */
h1
{
	font-weight: bold;
	font-size: 30px;
}
.description p
{
	color: black;
	font-family: Raleway-Regular;
}

/* Mise en place de la recherche */
.position i
{
	color: black;
	font-size: 25px;
	display: inline-block;
}
.localisation
{
	width: 450px;
	display: flex;
}
form
{
	display: flex;
}

.position
{
	background-color: #F2F2F2;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

}
.entree input
{
	background-color: white;
	border: 1px solid #F2F2F2;
	width: 210px;
	height: 57px;
	font-size: 25px;
	padding-left: 10px;

}
.recherche input
{
	background-color: #0065FC;
	border: 1px solid #0065FC;
	color: white;
	width: 160px;
	height: 60px;
	font-size: 25px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.recherche input:hover
{
	color: black;
}


/* Mise en place des filtres */
.filtre
{
	position: relative;
	padding-top: 30px;
}
.filters
{
	font-weight: bold;
	display: flex;
}
.filters .filters_title
{
	box-shadow: none;
	margin: 20px 24px 20px 0px;
}
.filters .filters_options
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.filters_options input[name="type-hebergement"]
{
	opacity: 0;
	position: absolute;
	left: -9999px;
}
.filter-option
{
	margin: 5px 24px 5px 0;
	display: flex;
	align-items: center;
	box-shadow: inset 0 0 0 2px #F2F2F2;
	border-radius: 30px;
	cursor: pointer;
}
.filter-option .filter-option_icon
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 16px;
	height: 16px;
	padding: 16px;
	background-color: #DEEBFF;
	border-radius: 50px;
}
.filter-option i
{
	color: #0065FC;
}
.filter-option .filter-option_label
{
	padding: 0 20px 0 15px;
	cursor: pointer;
}
.filter-option .filter-option_label:hover
{
	color: #0065FC;
}
.information
{
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 0;
}
.information .info
{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #F2F2F2;
	width: 8px;
	height: 8px;
	padding: 8px;
	border-radius: 18px;
	color: #0065FC;
}
.infobis
{
	padding-left: 5px;
}